@import './normalize';
@import './search';

$baseColor: #f6f6f6;
$borderRadius: 5px;

$bodyBackgroundColor: lighten($baseColor, 20%);

$linkColor: black;
$linkColor-hover: black;

$appHeaderBackgroundColor: darken($baseColor, 40%);
$appHeaderBorderColor: darken($baseColor, 30%);

$pageHeaderBackgroundColor: darken($baseColor, 20%);
$pageHeaderBorderColor: darken($baseColor, 10%);

$pathInfoBackgroundColor: darken($baseColor, 75%);
$pathInfoColor: lighten($baseColor, 5%);

$themeBackgroundColor: darken($baseColor, 10%);
$themeTitleColor: lighten($baseColor, 5%);

body {
  background-color: $bodyBackgroundColor;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-weight: 700;
  font-size: 120%;
}

h2 { font-size: 200%; }
h3 { font-size: 110%; }
h2, h3 { font-weight: 600; }

a {
  color: $linkColor;
  text-decoration: none;
  &:visited {
    color: $linkColor;
  }
  &:hover {
    color: $linkColor-hover;
    text-decoration: underline;
  }
}

.app-background,
.app-background-replace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.app-background {
  z-index: -10;
}

.app-background-replace {
  opacity: 0;
  z-index: -1;
}

.app-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 3.5% 1rem 3%;

  top: 0;
  left: 0;
  right: 0;
  position: relative;

  .app-logo {
    &:hover {
      text-decoration: none;
    }

    img {
      width: 40%;
      min-width: 100px;
      max-width: 350px;
    }
  }

  .app-title {
    margin: 0;
    font-size: 150%;

    a:hover {
      text-decoration: none;
    }
  }

  .app-search {
    text-align: center;
    margin: 0 1rem;
  }

  .app-wordmarks {
    margin-left: 0.5rem;
  }

  .app-nav {
    align-self: flex-end;

    .app-nav-link-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: right;

      .app-nav-link-item {
        display: inline-block;
        margin: 0 0.5rem;

        &:last-child {
          // margin-right: 0;
        }

        .app-nav-link {}
      }
    }
  }
}

// .app-footer {
//   background-color: rgba(0, 0, 0, 0.5);
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   color: white;
//   padding: 0.5rem;
//   font-size: 75%;
//   font-weight: lighter;
//   text-align: center;
//   cursor: pointer;
// }

.app-page {
  .page-title {
    margin: 0;
  }

  .page-description {
    margin: 0;
  }

  .page-main {
    padding: 1rem 0 0 0;
  }
}

.main-page {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;

  .main-page-header-image {
    height: 12.5rem;
    background-size: cover;
    background-position: center;
  }

  .main-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-title { margin: 1rem 0; }
    .enter-site { float: right; }
  }

  a {
    color: blue;
    &:hover {
      cursor: pointer;
    }
  }

  .site-description { margin-top: 0; }
  .read-more-text { display: none; }

  .enter-site, .read-more-button {
    &:hover { text-decoration: none; }
  }
}

.paths-index {
  .page-header {
    margin-bottom: 0;
  }
  .page-main {
    padding-top: 0;
  }
  .paths-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .path {
      height: 400px;
      width: 48.75%;
      background-size: cover;
      background-position: center;
      position: relative;
      border-radius: $borderRadius;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }

      .path-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        .path-info {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          background-image: linear-gradient(transparent 0%, $pathInfoBackgroundColor);
          border-radius: $borderRadius;
          color: $pathInfoColor;

          .path-title,
          .path-description {
            margin: 0;
          }

          .path-title {
            font-size: 200%;
          }
        }
      }
    }
  }
}

.path-show {
  .page-header {
    margin-left: 0;
  }

  .sub-topic-lists {
    display: flex;
    justify-content: space-between;

    .sub-topic-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 49.5%;
      max-height: 24.75rem;
      overflow: scroll;
      border-radius: $borderRadius;

      .sub-topic-list-item {
        background-color: $themeBackgroundColor;
        background-size: cover;
        background-position: center;
        border-radius: $borderRadius;
        margin-bottom: 0.5rem;
        position: relative;
        height: 125px;
        align-items: flex-end;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        .sub-topic-link {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          &:hover { text-decoration: none; }

          .sub-topic-info {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;

            .sub-topic-title {
              color: $themeTitleColor;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }

            .sub-topic-title,
            .sub-topic-description {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.theme-show {
  .page-header {
    border-radius: 0;
  }

  .theme-contents {
    padding: 0;
    display: flex;
    justify-content: space-between;

    .theme-text,
    .theme-media {
      margin: 0;
      padding: 0 1rem;
      margin-top: 1rem;
      flex-basis: 49.5%;
      flex-grow: 1;
      max-height: 25rem;
      overflow: scroll;
      text-align: justify;
    }

    .theme-text:empty,
    .theme-media:empty {
      display: none;
    }

    .theme-text p:first-of-type {
      margin-top: 0;
    }

    .theme-text a {
      color: blue;
    }
  }
}

.media-wrapper {
  width: 48%;
  margin: 1%;
  cursor: pointer;

  &.highlighted {

    .media-type {
      background-color: yellow;
      color: black;
    }
  }

  &.media-imgCollection-wrapper {
    height: 5rem;

    .imgCollection-images-list {
      width: 100%;
      height: 100%;
      display: inline-block;

      .imgCollection-images-list-item {
        width: 35%;
        height: 100%;
        display: inline-block;
        background-size: cover;
        background-position: center;
        position: relative;

        &:nth-child(1) {
          position: absolute;
          z-index: 3;
          left: 0;
        }

        &:nth-child(2) {
          position: absolute;
          z-index: 2;
          left: 33.3%;
          opacity: 0.85;
        }

        &:nth-child(3) {
          position: absolute;
          z-index: 1;
          left: 66.6%;
          opacity: 0.7;
        }
      }
    }
  }
  .media-type {
    position: absolute;
    bottom: 15px;
    left: -2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 5px 7.5px;
    font-size: 80%;
    text-align: left;
    display: none;
  }
  .media-item {
    width: 100%;
  }
  .media-map { border: 0; }
}

.modal-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.modal-map,
.modal-pdf,
.modal-video,
.modal-link {
  width: 100%;
  height: 100%;
  border: 0;

  .modal-link-iframe {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
}

.modal-link-over {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  top: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .fa {
    color: white;
    &:hover { color: white; }
  }

  &:hover { text-decoration: none; }
  &:visited { color: white; }
}

.media-pdf-wrapper,
.media-link-wrapper,
.media-audio-wrapper {
  padding: 0;
  background-color: #ddd;

  .media-title {
    margin: 0;
    padding: 0.5rem;
  }
}

.media-img-wrapper img {
  display: block;
}

.media-map-wrapper iframe {
  pointer-events: none;
  display: block;
}

.loading-page {
  text-align: center;
  font-size: 2rem;
  color: #555;
  animation: spin 1s infinite ease-in-out;
  opacity: 1 !important;
  display: block;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.search-results {
  display: flex;
  justify-content: space-between;

  .search-results-pages,
  .search-results-media {
    flex-basis: 49%;
  }

  .search-results-pages {
    .theme-info {
      min-height: 5rem;
      background-position: center;
      background-size: cover;
      display: flex;
    }
  }
}

// Lib
.ReactModalPortal { z-index: 100; }

// New
$about-section-background-color: rgba(51,102,51,0.78);
$news-section-background-color: rgba(0,0,0,0.69);

button {
  cursor: pointer;
}

.section {
  position: relative;

  .section-inner {
    width: 75%;
    margin: auto;
    padding: 2rem 1rem 4rem;

    .section-title {
      margin: 0;
      text-align: center;
    }
  }
}

.home-page {

  .about-section {
    color: white;
    position: relative;

    .map-overlay {
      background-color: $about-section-background-color;
    }

    .view-map-button {
      background-color: darken($about-section-background-color, 20%);
    }

    .section-content {
      max-height: 200px;
      overflow: hidden;
      position: relative;
    }

    .read-more-container {
      width: 100%;
      text-align: center;
      margin: 0;
      margin-top: 1rem;
      padding: 0 0 0 0;
      pointer-events: none;

      .read-more-button {
        pointer-events: auto;
        padding: 0.5rem 1rem;
        color: inherit;
        border: none;
        background-color: lighten($about-section-background-color, 25%);
      }
    }
  }

  .news-section {
    color: white;

    .map-overlay {
      background-color: $news-section-background-color;
    }

    .view-map-button {
      background-color: lighten($about-section-background-color, 20%);
    }

    .articles {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
    }
    .article-container {
      // flex-grow: 1;
      // flex-basis: 50%;
      width: 45%;
      padding: 1rem;
      color: inherit;
      background-color: transparent;
      transition: background-color 250ms;

      &:hover {
        background-color: lighten($news-section-background-color, 50%);
        text-decoration: none;
      }

      .article-thumbnail {
        float: left;
        max-width: 25%;
        margin-right: 2.5%;
      }

      .article-info {
        margin-left: 27.5%;
      }
      .article-title {
        font-size: 100%;
        margin: 0;
      }
      .article-source {
        font-size: 50%;
      }
      .article-description {
        margin: 0;
      }
    }
  }
}

// Backgrounds

.background {}

.map-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  // .mapboxgl-canvas-container {
  //   position: absolute;
  //   bottom: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  // }

  .mapboxgl-ctrl-attrib {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 50%;
    color: rgba(0,0,0,0.5);
    background: white;
    background-image: linear-gradient(to bottom, transparent 75%, #fff 100%);
  }

  ~.map-overlay {
    position: relative;
    opacity: 1;
    transition: opacity 500ms ease-in-out;

    &.map-overlay-hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.view-map-container {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  .view-map-button {
    padding: 0.5rem 1rem;
    font-size: 75%;
    color: inherit;
    border: none;
  }
}

.topic-image-list {
  padding-left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;

  .topic-image {
    list-style-type: none;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0.5rem 1rem;
    background-size: cover;
  }
}

a.topic-link {
  color: #888;
  font-weight: bold;
  font-size: 90%;
}

.topics-section {
  .section-inner {
    width: 100%;
  }
}

.topic-section {
  .section-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0rem;

    .topic-text, .topic-media {
      width: 46%;
      min-width: 15rem;
      margin: 0 1%;
    }

    .topic-media {
      position: relative;
      height: 66vh;
      overflow: hidden;

      .topic-view-related-media {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 35%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
        pointer-events: none;

        a {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          left: 1rem;
          font-weight: bold;
          font-size: 110%;
          text-align: center;
          pointer-events: auto;
        }
      }
    }
  }
}
