/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'normalize';
@import 'variables';
@import 'layout';
@import 'page';
@import 'background';
@import 'media';


 // App

 $baseColor: #f6f6f6;
 $borderRadius: 5px;

 $bodyBackgroundColor: lighten($baseColor, 20%);

 $linkColor: black;
 $linkColor-hover: black;

 $appHeaderBackgroundColor: darken($baseColor, 40%);
 $appHeaderBorderColor: darken($baseColor, 30%);

 $pageHeaderBackgroundColor: darken($baseColor, 20%);
 $pageHeaderBorderColor: darken($baseColor, 10%);

 $pathInfoBackgroundColor: darken($baseColor, 75%);
 $pathInfoColor: lighten($baseColor, 5%);

 $themeBackgroundColor: darken($baseColor, 10%);
 $themeTitleColor: lighten($baseColor, 5%);

 // body {
 //   background-color: $bodyBackgroundColor;
 //   background-size: cover;
 //   background-position: center;
 //   background-repeat: no-repeat;
 //   display: flex;
 //   justify-content: center;
 //   align-items: top;
 //   height: 100vh;
 //   font-family: 'Muli', sans-serif;
 // }
 //
 // h1, h2, h3 {
 //   font-family: 'Josefin Sans', sans-serif;
 //   letter-spacing: 1px;
 // }
 //
 // h1 {
 //   font-weight: 700;
 //   font-size: 120%;
 // }
 //
 // h2 { font-size: 200%; }
 // h3 { font-size: 110%; }
 // h2, h3 { font-weight: 600; }
 //
 // a {
 //   color: $linkColor;
 //   text-decoration: none;
 //   &:visited {
 //     color: $linkColor;
 //   }
 //   &:hover {
 //     color: $linkColor-hover;
 //     text-decoration: underline;
 //   }
 // }

 .xmain-page {
   .read-more-text { display: none; }
   .read-more-button {
     &:hover { text-decoration: none; }
   }
 }

 .theme-show {
   .theme-contents {
     padding: 0;
     display: flex;
     justify-content: space-between;

     .theme-text,
     .theme-media {
       margin: 0;
       padding: 0 1rem;
       margin-top: 1rem;
       flex-basis: 49.5%;
       flex-grow: 1;
       max-height: 25rem;
       overflow: scroll;
       text-align: justify;
     }

     .theme-text:empty,
     .theme-media:empty {
       display: none;
     }

     .theme-text p:first-of-type {
       margin-top: 0;
     }

     .theme-text a {
       color: blue;
     }
   }
 }

 .media-wrapper {
   width: 48%;
   margin: 1%;
   cursor: pointer;

   &.highlighted {

     .media-type {
       background-color: yellow;
       color: black;
     }
   }
   .media-type {
     position: absolute;
     bottom: 15px;
     left: -2px;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     display: flex;
     align-items: center;
     z-index: 10;
     padding: 5px 7.5px;
     font-size: 80%;
     text-align: left;
     display: none;
   }
   .media-item {
     width: 100%;
   }
   .media-map { border: 0; }
 }

 .modal-img {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   top: 1rem;
   right: 1rem;
   bottom: 1rem;
   left: 1rem;
 }

 .modal-map,
 .modal-pdf,
 .modal-video,
 .modal-link {
   width: 100%;
   height: 100%;
   border: 0;

   .modal-link-iframe {
     border: 0;
     width: 100%;
     height: 100%;
     background-color: black;
   }
 }

 .modal-link-over {
   position: absolute;
   left: 1rem;
   right: 1rem;
   bottom: 1rem;
   top: 1rem;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;

   .fa {
     color: white;
     &:hover { color: white; }
   }

   &:hover { text-decoration: none; }
   &:visited { color: white; }
 }

 .media-pdf-wrapper,
 .media-link-wrapper,
 .media-audio-wrapper {
   padding: 0;
   background-color: #ddd;

   .media-title {
     margin: 0;
     padding: 0.5rem;
   }
 }

 .media-img-wrapper img {
   display: block;
 }

 .media-map-wrapper iframe {
   pointer-events: none;
   display: block;
 }

 .loading-page {
   text-align: center;
   font-size: 2rem;
   color: #555;
   animation: spin 1s infinite ease-in-out;
   opacity: 1 !important;
   display: block;
 }

 @keyframes spin {
   100% {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
   }
 }

 .search-results {
 }

 // Lib
 .ReactModalPortal { z-index: 100; }

 // New
 $about-section-background-color: rgba(51,102,51,0.78);
 $news-section-background-color: rgba(0,0,0,0.69);

 button {
   cursor: pointer;
 }

 .section {
   position: relative;
   min-height: 100vh;

   .section-inner {
     width: 75%;
     margin: auto;
     padding: 2rem 1rem 4rem;

     .section-title {
       margin: 0;
       text-align: center;
     }
   }
 }

 .home-page {

   .about-section {
     color: white;
     position: relative;

     .map-overlay {
       position: absolute;
       background-color: $about-section-background-color;
       height: 100%;
     }

     .view-map-button {
       background-color: darken($about-section-background-color, 20%);
     }

     .section-content {
       max-height: 200px;
       overflow: hidden;
       position: relative;
     }

     .read-more-container {
       width: 100%;
       text-align: center;
       margin: 0;
       margin-top: 1rem;
       padding: 0 0 0 0;
       pointer-events: none;

       .read-more-button {
         pointer-events: auto;
         padding: 0.5rem 1rem;
         color: inherit;
         border: none;
         background-color: lighten($about-section-background-color, 25%);
       }
     }
   }

   .news-section {
     color: white;

     .map-overlay {
       background-color: $news-section-background-color;
     }

     .view-map-button {
       background-color: lighten($about-section-background-color, 20%);
     }

     .articles {
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       flex-wrap: wrap;
       position: relative;
     }
     .article-container {
       // flex-grow: 1;
       // flex-basis: 50%;
       width: 45%;
       padding: 1rem;
       color: inherit;
       background-color: transparent;
       transition: background-color 250ms;

       &:hover {
         background-color: lighten($news-section-background-color, 50%);
         text-decoration: none;
       }

       .article-thumbnail {
         float: left;
         max-width: 25%;
         margin-right: 2.5%;
       }

       .article-info {
         margin-left: 27.5%;
       }
       .article-title {
         font-size: 100%;
         margin: 0;
       }
       .article-source {
         font-size: 50%;
       }
       .article-description {
         margin: 0;
       }
     }
   }
 }

 // Backgrounds

 .background {}

 .map-background {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   overflow: hidden;

   // .mapboxgl-canvas-container {
   //   position: absolute;
   //   bottom: 0;
   //   top: 0;
   //   left: 0;
   //   right: 0;
   // }

   .mapboxgl-ctrl-attrib {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     font-size: 50%;
     color: rgba(0,0,0,0.5);
     background: white;
     background-image: linear-gradient(to bottom, transparent 75%, #fff 100%);
   }

   ~.map-overlay {
     position: relative;
     opacity: 1;
     transition: opacity 500ms ease-in-out;

     &.map-overlay-hide {
       opacity: 0;
       pointer-events: none;
     }
   }
 }

 .view-map-container {
   position: absolute;
   bottom: 1rem;
   width: 100%;
   text-align: center;
   .view-map-button {
     padding: 0.5rem 1rem;
     font-size: 75%;
     color: inherit;
     border: none;
   }
 }

 .topic-image-list {
   padding-left: 0;
   display: flex;
   justify-content: center;
   width: 100%;
   margin: auto;
   flex-wrap: wrap;

   .topic-image {
     list-style-type: none;
     width: 9rem;
     height: 9rem;
     border-radius: 50%;
     margin: 0.5rem 1rem;
     background-size: cover;
   }
 }

 a.topic-link {
   color: #888;
   font-weight: bold;
   font-size: 90%;
 }

 .topics-section {
   .section-inner {
     width: 100%;
   }
 }

 .topic-section {
   .section-inner {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     width: 100%;
     margin: 1rem 0;
     padding: 1rem 0rem;

     .topic-text, .topic-media {
       width: 46%;
       min-width: 15rem;
       margin: 0 1%;
     }

     .topic-media {
       position: relative;
       height: 66vh;
       overflow: hidden;

       .topic-view-related-media {
         position: absolute;
         bottom: 0;
         right: 0;
         width: 100%;
         height: 35%;
         background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
         pointer-events: none;

         a {
           position: absolute;
           bottom: 1rem;
           right: 1rem;
           left: 1rem;
           font-weight: bold;
           font-size: 110%;
           text-align: center;
           pointer-events: auto;
         }
       }
     }
   }
 }
