/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'variables';
@import 'normalize';
@import 'global';
@import 'layout';
@import 'section';
@import 'background';
@import 'media';

// Lib
.ReactModalPortal { z-index: 100; }
 .media-wrapper {
   .media-type {
     position: absolute;
     bottom: 15px;
     left: -2px;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     display: flex;
     align-items: center;
     z-index: 10;
     padding: 5px 7.5px;
     font-size: 80%;
     text-align: left;
     display: none;
   }
   .media-map { border: 0; }
 }

 .modal-img {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   top: 1rem;
   right: 1rem;
   bottom: 1rem;
   left: 1rem;
 }

 .modal-map,
 .modal-pdf,
 .modal-video,
 .modal-link {
   width: 100%;
   height: 100%;
   border: 0;

   .modal-link-iframe {
     border: 0;
     width: 100%;
     height: 100%;
     background-color: black;
   }
 }

 .modal-link-over {
   position: absolute;
   left: 1rem;
   right: 1rem;
   bottom: 1rem;
   top: 1rem;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;

   .fa {
     color: white;
     &:hover { color: white; }
   }

   &:hover { text-decoration: none; }
   &:visited { color: white; }
 }

 .media-pdf-wrapper,
 .media-link-wrapper,
 .media-audio-wrapper {
   padding: 0;
   background-color: #ddd;

   .media-title {
     margin: 0;
     padding: 0.5rem;
   }
 }

 .media-img-wrapper img {
   display: block;
 }

 .media-map-wrapper iframe {
   pointer-events: none;
   display: block;
 }

 .loading-page {
   text-align: center;
   font-size: 2rem;
   color: #555;
   animation: spin 1s infinite ease-in-out;
   opacity: 1 !important;
   display: block;
 }

 @keyframes spin {
   100% {
     -webkit-transform: rotate(360deg);
     transform:rotate(360deg);
   }
 }
