.section-background-wrapper {
  .section-background {
    @extend %POSITION_ABSOLUTE_FILL;
    overflow: hidden;
    pointer-events: none;
    z-index: $mid-layer;

    .section-background-source {
      z-index: $bot-layer;

      &.section-background-source--ext-video {
        @extend %SIZE_FULL;
        @extend %POSITION_ABSOLUTE_TOP_LEFT;
        border: none;
      }

      &.section-background-source--iframe { @extend %SIZE_FULL; }
      &.section-background-source--video {
        min-width: 100%;
        transform: translate(-50%);
      }
      &.section-background-source--photo {
        @extend %SIZE_FULL;

        background-position: center center;
        background-size: cover;
      }
    }
  }
  .section-background-overlay {
    @extend %POSITION_ABSOLUTE_FILL;

    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    z-index: $top-layer;

    &.section-background-overlay-hide {
      opacity: 0;
      pointer-events: none;
    }
    &.section-background-overlay-show {}
  }
  .section-background-view-button-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2rem;
    text-align: center;
    width: 100%;
    z-index: $top-layer;

    .section-background-view-button {
      border: none;
      border-radius: $border-radius;
      color: inherit;
      font-size: 75%;
      padding: 0.5rem 1rem;
    }
  }
}

.section-background--map {}
.section-background--photo {}
.section-background--video {}
