// Global
body {
  align-items: flex-start;
  display: flex;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;
}

a {
  color: $medium-dark-gray;
  text-decoration: none;
  transition: color 500ms;

  &:visited { color: $medium-dark-gray; }
  &:hover { color: $black; }
}

button {
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 120%;
  font-weight: 700;
}

h2 { font-size: 200%; }
h3 { font-size: 110%; }
h2, h3 { font-weight: 600; }
