.app {
  @extend %POSITION_ABSOLUTE_FILL;

  .app-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 3.5% 1rem 3%;
    width: 90%;

    .app-wordmarks {
      margin-left: 0.5rem;

      .app-logo-link {
        .app-logo {
          max-width: 350px;
          min-width: 100px;
          width: 40%;
        }
      }
      .app-title {
        font-size: 150%;
        margin: 0;

        .app-title-link:hover {}
      }
    }
  }

  .app-nav {
    align-self: flex-end;

    .app-nav-link-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;

      .app-nav-link-item {
        display: inline-block;
        margin: 0 0.25rem;// 0 0;
        /**
          Uncomment the lines above and below to
          make dashes between navigation links.
        **/
        // &:after {
        //  content: "–";
        //  display: inline-block;
        //  margin-left: 0.25rem;
        //  color: rgba(0, 0, 0, 0.5);
        //
        //  &:last-child { display: none; }
        // }

        .app-nav-link {
          border-bottom: 1px solid transparent;
          display: inline-block;
          padding-bottom: 5px;
          transition: border-color 500ms;

          &:hover {
            border-bottom: 1px solid green;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }

  .app-wrapper-container {
    position: relative;
    right: 0;
    left: 0;

    .app-wrapper {
      .app-page {
        .app-page-title { margin:  0; }
        .app-page-content {}
      }

      .app-page--static {}
      .app-page--home {}
      .app-page--topic {}
      .app-page--sub-topic {}
      .app-page--search {}
    }
  }
}
