.app-media-panel {
  .app-media-item-wrapper {
    width: 100%;
    margin: 1%;
    cursor: pointer;

    .app-media-item {
      width: 50%;
      float: left;
      margin-right: 1rem;
    }
    .app-media-type {
      display: none;
    }
    .app-media-title {
      margin: 0;
    }
    .app-media-description {}
  }

  .app-media-item-wrapper--img {
    .app-media-item {}
    .app-media-title {}
    .app-media-description {}
  }
  .app-media-item-wrapper--map {
    .app-media-item {}
  }
  .app-media-item-wrapper--pdf {}
  .app-media-item-wrapper--video {}
  .app-media-item-wrapper--article {}
  .app-media-item-wrapper--audio {}
}

// TODO: Modals
