.app-section-wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  &.app-section-wrapper-no-min-height {
    min-height: unset;
  }

  .app-section {
    margin: auto;
    padding: 2rem 1rem 4rem;
    position: relative;
    width: 90%;

    .app-section-title {
      margin: 0;
      text-align: center;
    }
    .app-section-content-wrapper {
      .app-section-content {}
      .app-section-content-list {
        list-style-type: none;
        padding: 0;

        .app-section-content-item {}
      }
    }
    .app-section-more-wrapper {
      margin: 0;
      margin-top: 1rem;
      padding: 0 0 0 0;
      pointer-events: none;
      text-align: center;
      width: 100%;

      .app-section-more {
        color: inherit;
        border: none;
        border-radius: $border-radius;
        padding: 0.5rem 1rem;
        pointer-events: auto;
      }
    }
  }
}

.app-section--about {
  .section-background-overlay {
    background-color: darken($about-section-background-color, 20%);
  }

  .section-background-view-button-container {
    color: white;
    .section-background-view-button {
      background-color: darken($about-section-background-color, 25%);
    }
  }

  .app-section {
    color: white;

    .app-section-content {
      height: 200px;
      overflow: hidden;
      position: relative;
    }

    .app-section-more {
      background-color: lighten($about-section-background-color, 25%);
    }
  }
}
.app-section--hero {
  min-height: unset;

  .section-background-wrapper {
    .section-background {
      // height: 0;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
    }
  }
}
.app-section--news {
  .section-background-overlay {
    background-color: $news-section-background-color;
  }

  .section-background-view-button-container {
    color: white;

    .section-background-view-button {
      background-color: lighten($about-section-background-color, 20%);
    }
  }

  .app-section-content-wrapper {
    max-height: 75vh;
    overflow: scroll;
  }

  .app-section {
    color: white;
  }

  .app-section-content-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .app-section-content-item--article {
      max-width: 50%;

      .article-container {
        background-color: transparent;
        border-radius: $border-radius;
        color: inherit;
        display: block;
        padding: 1rem;
        transition: background-color 250ms;

        &:hover {
          background-color: lighten($news-section-background-color, 50%);
        }

        .article-thumbnail {
          float: left;
          margin-right: 2.5%;
          max-width: 25%;
        }
        .article-info {
          margin-left: 27.5%;

          .article-title {
            font-size: 100%;
            margin: 0;
          }
          .article-source { font-size: 50%; }
          .article-description { margin: 0; }
        }
      }
    }
  }
}
.app-section--topics {
  min-height: 70vh;

  .app-section {
    padding-bottom: 6rem;
  }
  .topic-help-message-container {
    bottom: 2rem;
    position: absolute;
    text-align: center;
    width: 100%;

    .topic-help-message {
      background-color: #888888;
      border-radius: $border-radius;
      color: white;
      font-size: 75%;
      margin: auto;
      padding: 0.25rem;
      text-transform: uppercase;
      width: 9rem;
    }
  }

  .app-section {
    .app-section-title {
      margin-bottom: 1rem;
    }

    .app-section-content-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      width: 100%;

      .app-section-content-item--topic-image {
        background-size: cover;
        border-radius: $border-radius;
        height: 6rem;
        margin: 0 0.5rem 1rem;
        width: 7.8rem;
      }
    }
    .app-section-content--topic {
      margin: 1rem 0.5rem;

      .topic-title { margin: 0 }
      .topic-description {}
      .topic-link {
        color: #888888;
        font-weight: bold;
        font-size: 90%;
        text-transform: uppercase;
      }
    }
  }
}
.app-section--sub-topic {
  min-height: unset;

  .app-section {
    .app-section-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1rem 0;
      padding: 1rem 0rem;
      width: 100%;

      .app-section-content {
        flex-grow: 1;
        margin: 0 1%;
        min-width: 15rem;

        &:empty { display: none; }

        &.app-section-content-item--topic {
          flex-basis: 45%;
          margin-left: 0;

          .topic-text {}
          .topic-title {}
        }
        &.app-section-content-item--topic-media {
          flex-basis: 35%;
          height: 66vh;
          margin-right: 0;
          overflow: scroll;
          position: relative;
        }
      }
    }
  }
}
.app-section--search-input {
  .app-section-content-item--input {}
  .app-section-content-item--tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .tag-item {
      display: inline-block;
      padding: 0.5rem;
      background: green;
      margin: 0.25rem 0.25rem 0.25rem 0;
      border-radius: $border-radius;
      color: white;
      cursor: pointer;
      transition: background 250ms;

      &:hover {
        background: darken(green, 10%);
      }
    }
  }
}
.app-section--search-results {
  display: flex;
  justify-content: space-between;

  .app-section-content {
    .search-results {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .search-result-group-container {
        .search-result-group-title {
          text-transform: capitalize;
        }
        .search-result-group {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;

          .search-result {
            flex-basis: 200px;
            height: 100px;
            background-size: cover;
            color: white;
            text-shadow: 1px 1px 4px black;
            position: relative;
            border-radius: $border-radius;
            margin-right: 5px;
            margin-bottom: 5px;

            .search-result-title {
              margin: 0;
              position: absolute;
              bottom: 2px;
              left: 2px;
            }
          }
        }
      }
    }
  }

  // TODO: Test whether this is used
  // .search-results-pages,
  // .search-results-media {
  //   flex-basis: 49%;
  // }
  //
  // .search-results-pages {
  //   .theme-info {
  //     min-height: 5rem;
  //     background-position: center;
  //     background-size: cover;
  //     display: flex;
  //   }
  // }

}
