// Color
$medium-dark-gray: #666666;
$black: #000000;
$about-section-background-color: rgba(51,102,51,0.78);
$news-section-background-color: rgba(0,0,0,0.69);

// Border
$border-radius: 5px;

// Z-Layers
$top-layer: 100;
$mid-layer:  10;
$bot-layer:   1;
